<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.silverorange.NowPlaying"
	version="1.0.0">

	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>

	<name>NowPlaying</name>

	<description>iOS native lock-screen now-playing API.</description>

	<js-module src="www/nowplaying.js" name="NowPlaying">
		<clobbers target="cordova.nowPlaying" />
	</js-module>

	<author> François Lasserre, Michael Gauthier</author>

	<license>MIT License</license>

	<asset src="www/NowPlaying.js" target="NowPlaying.js" />

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="NowPlaying">
				<param name="ios-package" value="NowPlaying" />
			</feature>
		</config-file>
		<plugins-plist key="NowPlaying" string="CDVNowPlaying" />
		<header-file src="src/ios/NowPlaying.h" />
		<source-file src="src/ios/NowPlaying.m" />
	</platform>

</plugin>


